.main-client{
    width: 100%;
    height: 50vh;
    background-image: url(consulting2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;

}
.client-sec{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #c3122a18;
}
.sec-1{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.sec-1 > i{
    color: #fff;
    background: aqua;
    border-radius: 100%;
    width: 69px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 0.5rem;

}
.sec-1 > h2{
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  font-family: 'Muli', sans-serif;

}
.sec-1 > h5{
  color: white;
  font-weight: 700;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Muli', sans-serif;
}
@media only screen and (max-width: 690px)   {
    .main-client{
        width: 100%;
        height: 120vh;
        background-image: url(consulting2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .client-sec{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #c3122a18;
    }

    .sec-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25%;
        align-items: center;
        justify-content: center;
    }
    .sec-1 > i {
        color: #fff;
        background: aqua;
        border-radius: 100%;
        width: 62px;
        height: 62px;
        line-height: 65px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 0.5rem;
    }
    .sec-1 > h2 {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
        font-family: 'Muli', sans-serif;
    }
}