/* Contact form  */
.contact-main{
    width: 100%;
    height: 100vh;
    font-family: 'Muli', sans-serif;
 }
 .contact-title{
    padding-top: 1rem;
    width: 100%;
    height: 15%;
    text-align: center;
 }
 .contact{
    width: 100%;
    height: 90%;
    display: flex;
 }
 .contact-title > h2 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 32px;

 }
 .contact-title > h2 > i {
    margin-right: 1rem;
    color: #000000;
 }
 .contact-form{
    width: 50%;
    height: 100%;
    display: flex;
  justify-content: center;
    align-items:flex-start;
 }
 .contact-form > form {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
 
   
 }
 .contact-form > form > label {
  color: #000000;
  font-family: 'Muli', sans-serif;
  margin-bottom: 0.4rem;
 }
 .contact-form > form >  input {
  border-color: #c31229;
  font-family: 'Muli', sans-serif;
  width: 60%;
  border-width: 2px; 
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
 }
 .contact-form > form >   textarea {
  border-color: #c31229;
  border-width: 2px;
  border-radius: 10px;
  padding: 0.3rem 0.6rem;
 }
 .contact-form > form > button {
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    width: 40%;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: #c31229;
    color: #fff;
    border: 2px solid transparent;
 }
 .contact-form > form > button:hover
 {
   background-color: #fff;
   color: #c31229;
   box-shadow: 9px 10px 79px 0px rgba(133,122,122,0.75);
 -webkit-box-shadow: 9px 10px 79px 0px rgba(133,122,122,0.75);
 -moz-box-shadow: 9px 10px 79px 0px rgba(133,122,122,0.75);
 }
 

 
 /* COntact - info  */
 
 .contact-info{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
  
    align-items:flex-start;
 }
 .address{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
 }
 .address > i {
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    text-align: center;
    font-size: 2rem;
    background: #fff;
       border-radius: 50%;
color: #c31229;
       padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border: 2px solid  rgba(128, 128, 128, 0.212);
 }
 .address > p {
  font-size: 1.3rem;
  font-family: 'Muli', sans-serif;
 }
 .call{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
 }
 .call > i {
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    text-align: center;
    font-size: 2rem;
    background: #fff;
       border-radius: 50%;
       color: #c31229;
       padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border: 2px solid  rgba(128, 128, 128, 0.212);
 }
 .call > a > p {
  font-size: 1.3rem;
  font-family: 'Muli', sans-serif;

 }
 .call > a{
   text-decoration: none;
   color: black;
 }
 .call > a:hover{
   color: #000000;
 }
 .email{
    display: flex;
    justify-content: space-around;
 
 }
 .email> i {
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    color: #c31229;
       border-radius: 50%;
       padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border: 2px solid  rgba(128, 128, 128, 0.212);
 }
 .email > a > p {
  font-size: 1.3rem;
  font-family: 'Muli', sans-serif;
 }
 .email > a{
   text-decoration: none;
   color: black;
 }
 .email > a:hover{
   color:#c31229;
 }
 @media only screen and (max-width:590px){

    .contact {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact-main {
        width: 100%;
        height: 60rem;
                display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .contact-form > form > button {
        margin-left: 0.7rem;
        margin-top: 0.7rem;
        width: 50%;
        padding: 10px 20px;
        border-radius: 0;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: .1rem;
        text-transform: uppercase;
        background-color: #c31229;
        color: #fff;
        border: 2px solid transparent;
    }
    .contact-form {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .contact-form > form > input {
        border-color: #c31229;
        width: 90%;
        border-width: 1px;
        border-radius: 20px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-bottom: 1rem;
    }
    .contact-info {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0.5rem;
    }
   
    .address > i {
        margin-right: 30px;
        line-height: 50px;
        border-radius: 50%;
        border: 2px solid #f8f9fa;
        text-align: center;
        font-size: 2rem;
        background: #fff;
        border-radius: 50%;
        padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    }
    .address > a > p {
      font-size: 1.1rem;
      font-family: 'Muli', sans-serif;
  }
    .email  > a  > p {
      font-size: 1.1rem;
      font-family: 'Muli', sans-serif;
  }
    .call  > a  > p {
      font-size: 1.1rem;
      font-family: 'Muli', sans-serif;
  }
    .contact-form > form > button {
        margin-left: 0.7rem;
        margin-top: 0.7rem;
        width: 50%;
        padding: 10px 20px;
        border-radius: 0;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: .1rem;
        text-transform: uppercase;
        background-color: #c31229;
        color: #fff;
        border: 2px solid transparent;
    }
    .email {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
  }.email> i {
   margin-right: 20px;
   border-radius: 50%;
  }
 }
 @media only screen and (max-width: 990px) and (min-width: 590px) {
    .contact-main {
        width: 100%;
        height: 60vh;
    }
    .contact-title {
        padding-top: 1rem;
        width: 100%;
        height: 15%;
        text-align: center;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .contact-title > h2 {
        /* font-family: "Poppins", sans-serif; */
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        font-size: 32px;
      }
    .email {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
  }
 }
 