.navbarMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsiveNav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #eff2f7;
  backdrop-filter: blur(7px);
  transition: all 500ms;
  z-index: 10;

}

.openNav {
  right: 0;
}

.closeNav {
right: 100%;

}


.navbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 68px;
  background-color: #eff2f7;
}
.navul{
  display:flex ;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

li{
  list-style: none;
  color: #000;
}
.open  {
  color: #000;
}
.closebtn  {
  color: #000;
}

a{
  text-decoration: none;
}
.navul li {
  position: relative; /* Required for pseudo-element */
  overflow: hidden; /* Hide the initial border */
}

h3{
color: #c31229;
}
.navul li::after {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position it relative to the list item */
  bottom: 0; /* Align it at the bottom */
  left: 0; /* Initially start from the left */
  width: 0; /* Initially hidden */
  height: 2px; /* Height of the border */
  background-color:   #c31229; /* Color of the border */
  transition: width 0.5s ease; /* Transition effect */
}

.navul li:hover::after {
  width: 100%; /* Expand the width on hover */
}

@media screen and (max-width: 760px) {


  
  .navul{
   display: none;
  }
  
  .navbarMain {
    padding: 5px 19px;
    background-color: #eff2f7;

  }
  .navbar {
    justify-content: start;
  }
}

@media screen and (min-width: 760px) {


  
  .open {
    display: none;
  }
}

.mobileul{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 250px;
  gap: 14px;
  padding-left: 5px;
}
.closebtn{
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbtn{
  border: 1px solid rgb(133, 76, 230);
  color: rgb(133, 76, 230);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.6s ease-in-out 0s;
  text-decoration: none;
}
a{
  text-decoration: none;
}


@media only screen and (min-width: 760px) and (max-width: 1200px) {


  .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    height: 68px;
    justify-content: flex-start;
    background-color: #fff;
    gap: 50px;
}

.navul {
  display: flex;
  width: 77%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbarbtn{
border: 1px solid #c31229;
color: #c31229;
justify-content: center;
display: flex;
align-items: center;
border-radius: 20px;
cursor: pointer;
padding: 9px 10px;
font-size: 16px;
font-weight: 500;
transition: all 0.6s ease-in-out 0s;
text-decoration: none;
}

.logo{
font-size: 12px;
margin-left: 10px;
}
}