@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #c31229;
    --color-secondary: #ff1634;
    --color-text: #000000;
    --color-background: #ffffff;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.header {
    background-color: var(--color-primary);
}

.button {
    background-color: var(--color-secondary);
    color: var(--color-background);
}
